@import './styles/variable.scss';
@import "./styles/main.scss";

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-size: cover;
  overflow-x: hidden;
  // background:  $bg-gradient-peach;
}
.row{
  display: flex;
}
.container_fluid{
  width: 95%;
  margin: auto;
}
.container{
  width: 85%;
  margin: auto;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background: $text-dark;
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  // background: #000000;
  border: 1px solid $text-dark2;
}