@import "./components/navbar.scss";
@import "./components/main_editor.scss";
@import "./components/editor.scss";
@import "./components/inputFields.scss";
@import "./home/headers.scss";
@import "./home/sign_up.scss";
@import "./home/resume.scss";
@import "./resume-templates/template_main.scss";


.btn{
    background: $bg-gradient;
    padding: 0.5rem 0;
    color: $text-light;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background: $bg-gradient-indigo;
    }
}

