.resume{
    margin-top: 2rem;

    .heading{
        text-align: center;
        h2{
            position: relative;
            font-size: 3rem;
            color: $text-dark;
            font-weight: 900;

            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 50%);
                width: 20%;
                height: 5%;
                background: $bg-gradient;
            }
        }
    }
}