@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    /* ---- text ---- */
    $text-gray: #808291;
    $text-white: #f8f9fa;
    $text-light:#f6f6f6;
    $text-dark:#00388f;
    $text-dark2:#32b2ed;
    $text-red:#ff4d6d;
    $box-shadow:0px 0px 50px 0px rgb(0 0 0 / 10%);
    $bg-blue:rgb(241, 228, 255);
    $bg-red:rgb(254,247,252);
    $bg-yellow:rgb(255, 255, 197);
    $bg-purple:rgb(238, 254, 254);

    /* font-family */
    $font-poppins:"poppins", 'sans-serif';

    /* gradient colors */
    $bg-gradient:linear-gradient(to right, #ff512f, #dd2476);
    $bg-gradient-indigo:linear-gradient(to right, #8e2de2, #4a00e0);
    $bg-gradient-peach:linear-gradient(to right, #fff7f3, #fff7f3);


